.container {
    width: 700px;
}

p {
    display: inline-block;
    font-family: Tahoma;
    font-size: 40px;
    width: 100px;
    height: 140px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0 auto;
    margin-left: 10px;
    border-left: 10px dotted #D0D0FF;
    background: #eeeff2;
    cursor: pointer;
}

p:hover {
    color: goldenrod;
    background: yellow;
}

.container .BoxF {
    bottom: 0px;
    right: 0px;
    position: absolute;

}
